<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672324482087-3ml0lg1or64ph0u74iu6li2m7o6qlmj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672324482087-3ml0lg1or64ph0u74iu6li2m7o6qlmj9</string>
	<key>API_KEY</key>
	<string>AIzaSyDJR1QfsNZbD8nyFrwTjlp5flp8on9gVNU</string>
	<key>GCM_SENDER_ID</key>
	<string>672324482087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kaylaknowsNutrition</string>
	<key>PROJECT_ID</key>
	<string>kaylaknows</string>
	<key>STORAGE_BUCKET</key>
	<string>kaylaknows.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672324482087:ios:cc36dfe4df76a346cc0a02</string>
</dict>
</plist>